body.holder header {
  position: initial;
  z-index: initial; }
  body.holder header .container {
    position: initial;
    z-index: initial; }

header {
  padding: 0;
  background: #131C2E;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100; }
  @media only screen and (max-width: 991px) {
    header {
      padding: 10px 0; } }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    height: 100%; }
  header .btn {
    width: auto; }
  header .nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    header .nav-box .close {
      display: none;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      opacity: 0.25;
      position: absolute;
      top: 20px;
      right: 20px;
      transition: all linear 0.4s; }
      @media only screen and (max-width: 991px) {
        header .nav-box .close {
          display: flex; } }
      header .nav-box .close:hover {
        opacity: 0.6; }
      header .nav-box .close svg {
        display: block; }
    header .nav-box .nav-bottom {
      display: none;
      padding: 0 30px; }
      @media only screen and (max-width: 991px) {
        header .nav-box .nav-bottom {
          display: block;
          margin-top: auto;
          order: 3; }
          header .nav-box .nav-bottom .btn.btn-support {
            display: flex;
            position: initial;
            top: initial;
            left: initial;
            width: 100%; }
          header .nav-box .nav-bottom .panel-bar {
            display: flex;
            padding: 0; }
            header .nav-box .nav-bottom .panel-bar .social {
              margin: 0; } }
    @media only screen and (max-width: 991px) {
      header .nav-box {
        display: flex;
        height: 100%;
        position: fixed;
        width: 300px;
        left: -300px;
        top: 0;
        background: #131C2E;
        z-index: 999;
        overflow: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0;
        transition: all linear 0.4s; }
        header .nav-box .nav {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          border-bottom: 1px solid rgba(255, 255, 255, 0.05);
          margin-bottom: 20px; }
          header .nav-box .nav > li {
            width: 100%;
            height: initial;
            flex-grow: initial; }
            header .nav-box .nav > li:first-child {
              border-top: 1px solid rgba(255, 255, 255, 0.05); }
            header .nav-box .nav > li > a {
              justify-content: flex-start;
              height: initial;
              min-height: initial; }
        header .nav-box.active {
          left: 0; } }
  header .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 991px) {
      header .nav {
        order: 2; } }
    header .nav > li {
      display: flex;
      align-items: center;
      height: 100%;
      flex-grow: 1;
      position: relative; }
      @media only screen and (max-width: 991px) {
        header .nav > li + li {
          border-top: 1px solid rgba(255, 255, 255, 0.05); } }
      header .nav > li:before {
        position: absolute;
        height: 100%;
        width: 3px;
        display: block;
        content: '';
        background: rgba(0, 0, 0, 0.1);
        top: 0;
        left: -1px; }
        @media only screen and (max-width: 991px) {
          header .nav > li:before {
            display: none; } }
      header .nav > li:last-child:after {
        position: absolute;
        height: 100%;
        width: 3px;
        display: block;
        content: '';
        background: rgba(0, 0, 0, 0.1);
        top: 0;
        right: -1px; }
        @media only screen and (max-width: 991px) {
          header .nav > li:last-child:after {
            display: none; } }
      header .nav > li.drop.active > a, header .nav > li.drop:hover > a {
        color: #5397FD;
        text-decoration: none; }
        header .nav > li.drop.active > a svg path, header .nav > li.drop:hover > a svg path {
          stroke: #5397FD; }
      header .nav > li.drop.active > a {
        color: #fff; }
        header .nav > li.drop.active > a svg {
          transform: rotate(180deg); }
      header .nav > li .drop-menu {
        padding: 12px 20px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #252C3F;
        border-radius: 10px;
        margin: 0;
        list-style: none;
        width: 257px;
        display: none; }
        header .nav > li .drop-menu.lang-drop {
          padding: 12px 0;
          width: 50px; }
        header .nav > li .drop-menu li {
          margin-top: 15px;
          padding-top: 15px;
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          text-align: center; }
          header .nav > li .drop-menu li:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none; }
          header .nav > li .drop-menu li a {
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            color: #FFFFFF;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center; }
            header .nav > li .drop-menu li a:hover {
              color: #5397FD;
              text-decoration: none; }
            header .nav > li .drop-menu li a.lang {
              width: 14px;
              height: 14px;
              overflow: hidden;
              border-radius: 50%; }
              header .nav > li .drop-menu li a.lang img {
                display: block;
                width: 100%;
                height: auto; }
      header .nav > li > a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 100%;
        width: 100%;
        min-height: 60px;
        transition: all linear 0.4s; }
        @media only screen and (max-width: 991px) {
          header .nav > li > a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 20px;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            color: #FFFFFF; }
            header .nav > li > a:hover {
              color: #5397FD;
              text-decoration: none; } }
        header .nav > li > a span {
          display: flex;
          align-items: center;
          margin: 0 10px; }
          header .nav > li > a span.lang {
            width: 20px;
            height: 20px;
            overflow: hidden;
            border-radius: 50%; }
            header .nav > li > a span.lang img {
              display: block;
              width: 100%;
              height: auto; }
        header .nav > li > a img,
        header .nav > li > a svg {
          display: block;
          transition: all linear 0.4s; }
          header .nav > li > a img path,
          header .nav > li > a svg path {
            transition: all linear 0.4s; }
        header .nav > li > a:hover, header .nav > li > a.active {
          color: #5397FD;
          text-decoration: none; }
          header .nav > li > a:hover svg path, header .nav > li > a.active svg path {
            stroke: #5397FD; }
  header .logo {
    display: block;
    text-decoration: none;
    margin-right: 15px;
    width: 68px; }
    @media only screen and (max-width: 991px) {
      header .logo {
        margin: 0; } }
    header .logo img {
      display: block; }
  header .drop-lang {
    display: flex;
    align-items: center;
    position: relative; }
    header .drop-lang > a {
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 10px;
      padding: 0 10px;
      height: 40px;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
      color: #FFFFFF; }
      header .drop-lang > a .lang {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border-radius: 50%; }
        header .drop-lang > a .lang img {
          display: block;
          width: 100%;
          height: auto; }
      header .drop-lang > a svg {
        display: block;
        margin-left: 5px; }
    header .drop-lang img {
      display: block; }
    header .drop-lang.active > a, header .drop-lang:hover > a {
      color: #5397FD;
      text-decoration: none; }
      header .drop-lang.active > a svg path, header .drop-lang:hover > a svg path {
        stroke: #5397FD; }
    header .drop-lang.active > a {
      color: #fff; }
      header .drop-lang.active > a svg {
        transform: rotate(180deg); }
    header .drop-lang .lang-list {
      padding: 12px 0;
      width: 50px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: #252C3F;
      border-radius: 10px;
      margin: 0;
      list-style: none;
      display: none; }
      header .drop-lang .lang-list li {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center; }
        header .drop-lang .lang-list li:first-child {
          margin-top: 0;
          padding-top: 0;
          border-top: none; }
        header .drop-lang .lang-list li a {
          font-weight: 700;
          font-size: 13px;
          line-height: 15px;
          text-transform: uppercase;
          color: #FFFFFF;
          display: flex;
          overflow: hidden;
          align-items: center;
          justify-content: center; }
          header .drop-lang .lang-list li a:hover {
            color: #5397FD;
            text-decoration: none; }
          header .drop-lang .lang-list li a.lang {
            width: 14px;
            height: 14px;
            overflow: hidden;
            border-radius: 50%; }
            header .drop-lang .lang-list li a.lang img {
              display: block;
              width: 100%;
              height: auto; }
  header .control-box {
    display: flex;
    align-items: center;
    margin-left: 15px; }
    @media only screen and (max-width: 991px) {
      header .control-box {
        margin-left: 0;
        margin-bottom: 30px;
        padding: 0 30px;
        order: 1; } }
    header .control-box .btn {
      width: 40px;
      border-radius: 50%;
      margin-left: 5px; }
      header .control-box .btn.sound-btn .on {
        display: block; }
      header .control-box .btn.sound-btn .off {
        display: none; }
      header .control-box .btn.sound-btn.active-off .on {
        display: none; }
      header .control-box .btn.sound-btn.active-off .off {
        display: block; }
  header .currency-box {
    position: relative; }
    header .currency-box.active > .btn {
      color: #5397FD; }
      header .currency-box.active > .btn svg path {
        stroke: #5397FD; }
    header .currency-box .currency-list {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 5px 0 0;
      margin: 0;
      list-style: none;
      display: none; }
      header .currency-box .currency-list li + li {
        margin-top: 5px; }
  header .profile-holder {
    display: flex;
    align-items: center;
    margin-left: 15px; }
    @media only screen and (max-width: 991px) {
      header .profile-holder {
        margin-left: auto; } }
  header .user-control {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-left: 5px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    min-width: 175px; }
    @media only screen and (max-width: 767px) {
      header .user-control {
        min-width: initial;
        padding: 0 10px; } }
    header .user-control a {
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
      color: #5397FD;
      display: block; }
      @media only screen and (max-width: 767px) {
        header .user-control a {
          display: none; } }
      header .user-control a:hover {
        color: #fff;
        text-decoration: none; }
    header .user-control .sum {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      margin-left: 5px; }
      header .user-control .sum svg {
        display: block;
        margin-right: 10px; }
  header .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    width: 40px;
    height: 40px; }
    header .profile img {
      display: block;
      width: 100%;
      height: auto; }
  header .profile-drop {
    position: absolute;
    width: 223px;
    right: 0;
    top: 100%;
    background: #131C2E;
    box-shadow: inset 0px 1px 0px #5397FD;
    border-radius: 0px 0px 20px 20px;
    display: none; }
    header .profile-drop .item + .item {
      border-top: 1px solid rgba(255, 255, 255, 0.05); }
    header .profile-drop .item a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 20px;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
      color: #FFFFFF; }
      header .profile-drop .item a:hover {
        color: #5397FD;
        text-decoration: none; }
      header .profile-drop .item a svg {
        display: block;
        margin-left: 10px; }

/*# sourceMappingURL=header.css.map */
