@import "../../_helpers/variables";

.table {
    margin-bottom: 10px;
    &.operations-history {
        .line {
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                flex-direction: column;
            }
            &.head {
                background: linear-gradient(180deg, #2D384D 0%, #131C2E 100%);
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    display: none;
                }
            }
            .item {
                text-align: left !important;
                justify-content: flex-start !important;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    width: 100% !important;
                    //padding-left: 50%;
                    margin:5px 0 0 !important;
                    order: 1 !important;
                }
                .name {
                    display: none;
                    content: '';
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: rgba(255, 255, 255, 0.5);
                    width: 50%;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        display: block;
                    }
                }
                &:nth-child(1) {
                    width: 115px;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        margin: 0 !important;
                    }
                }
                &:nth-child(2) {
                    width: 217px;
                }
                &:nth-child(3) {
                    width: 136px;
                }
                &:nth-child(4) {
                    width: 175px;
                }
                &:nth-child(5) {
                    width: 132px;
                    display: flex;
                    align-items: center;
                    svg {
                        display: block;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    &[data-items="2"] {
        .item {
            width: calc(100% / 2);
        }
    }
    &[data-items="3"] {
        .item {
            width: calc(100% / 3);
        }
    }
    &[data-items="4"] {
        .item {
            width: calc(100% / 4);
        }
    }
    &[data-items="5"] {
        .item {
            width: calc(100% / 5);
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                order: 3;
                width: calc(100% / 3);
            }
            &:first-child {
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    order: 1;
                    width: 50%;
                    min-height: 24px;
                    margin-bottom: 5px;
                }
            }
            &:last-child {
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    order: 2;
                    width: 50%;
                    min-height: 24px;
                    margin-bottom: 5px;
                }
            }
            &:nth-child(2) {
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    justify-content: flex-start;
                }
            }
            &:nth-child(4) {
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    justify-content: flex-end;
                }
            }
        }
    }
    .line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.05);
        padding: 8px 20px;
        @media only screen and (max-width : $responsive-size-stand-mobile) {
            flex-wrap: wrap;
        }
        &:first-child {
            border-radius: 10px 10px 0px 0px;
        }
        &:last-child {
            border-radius: 0px 0px 10px 10px;
        }
        &+.line {
            margin-top: 1px;
        }
        .item {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
                text-align: left;
                justify-content: flex-start;
            }
            &:last-child {
                text-align: right;
                justify-content: flex-end;
            }
            a {
                color: #5397FD;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            .number {
                &.min {
                    color: #CA3838;
                }
                &.mid {
                    color: #F79E1B;
                }
                &.max {
                    color: #39B254;
                }
            }
            .status-game {
                border-radius: 5px;
                width: 80px;
                height: 24px;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                &.win {
                    background: #39B254;
                }
                &.loss {
                    background: #CA3838;
                }
            }
        }
    }
}

.top-users-table {
    &.top-ref-table {
        margin-bottom: 30px;
        .body {
            .item {
                &:first-child {
                    border-radius: 10px 10px 0px 0px;
                }
                .info {
                    width: initial !important;
                }
            }
        }
    }
    &.my-ref-table {
        .head {
            background: linear-gradient(180deg, #2D384D 0%, #131C2E 100%);
            border-radius: 10px 10px 0px 0px;
            .item {
                width: 18.4%;
                font-weight: 400;
                @media only screen and (max-width : $responsive-size-big-mobile) {
                    width: initial;
                    font-size: 14px;
                    line-height: 16px;
                }
                &:first-child {
                    width: 28.2%;
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        min-width: 125px;
                    }
                }
                &:nth-child(2) {
                    width: 28.2%;
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        display: none;
                    }
                }
                &:nth-child(3) {
                    width: 19.6%;
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        width: initial;
                        margin: 0 auto;
                    }
                }
                &:nth-child(4) {
                    width: 21.7%;
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        width: 70px;
                    }
                }
            }
        }
        .body {
            .item {
                @media only screen and (max-width : $responsive-size-big-mobile) {
                    padding: 10px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                }
                .info {
                    .img {
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            border: none;
                            padding: 0;
                            width: 24px;
                            height: 24px;
                        }
                    }
                    .name {
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            width: calc(100% - 24px) !important;
                            padding-left: 5px !important;
                        }
                    }
                    &:first-child {
                        width: 28.2%;
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            min-width: 125px;
                        }
                    }
                    &:nth-child(2) {
                        width: 28.2%;
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            width: initial;
                            margin-left: auto;
                            position: relative;
                            padding-right: 3px;
                            &:after {
                                display: initial;
                                content: ' / ';
                                padding-left: 3px;
                            }
                        }
                    }
                    &:nth-child(3) {
                        width: 19.6%;
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            width: initial;
                            margin-right: auto;
                        }
                    }
                    &:nth-child(4) {
                        width: 21.7%;
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            width: 70px;
                        }
                    }
                    .name {
                        display: block;
                        width: calc(100% - 50px);
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    &.top-ref-table,
    &.top-table {
        .head {
            .item {
                &:nth-child(3),
                &:first-child {
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        display: none;
                    }
                }
                &:nth-child(2) {
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        text-align: left;
                    }
                }
                &:nth-child(4) {
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        text-align: left;
                        width: 100px;
                    }
                }
            }
        }
        .body {
            .item {
                @media only screen and (max-width : $responsive-size-big-mobile) {
                    padding-left: 0;
                    padding-right: 0;
                    position: relative;
                    justify-content: initial;
                }
                .info {
                    &:first-child {
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            margin-left: -12px;
                            width: initial;
                        }
                    }
                    &:nth-child(2) {
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            text-align: left;
                            width: initial;
                            padding-left: 10px;
                            svg {
                                display: none;
                            }
                        }
                    }
                    &:nth-child(3) {
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            text-align: left;
                            width: 120px;
                            position: absolute;
                            top:10px;
                            right: 0;
                            justify-content: flex-start;
                        }
                    }
                    &:nth-child(4) {
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            text-align: left;
                            width: 120px;
                            padding-top: 20px;
                            margin-left: auto;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
    &.top-ref-table {
        .body {
            .item {
                .info {
                    &:nth-child(3) {
                        @media only screen and (max-width : $responsive-size-big-mobile) {
                            text-align: left;
                            width: 120px !important;
                            margin-left: auto;
                            justify-content: flex-start;
                            position: relative;
                            top:initial;
                            right: initial;
                        }
                    }
                }
            }
        }
    }
    .head {
        background: linear-gradient(180deg, #29ACD6 0%, #494FD8 100%);
        border-radius: 10px 10px 0px 0px;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        justify-content: space-between;
        .item {
            display: block;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
            &:nth-child(1) {
                width: 104px;
            }
            &:nth-child(2) {
                width: 44.2%;
            }
            &:nth-child(3) {
                width: 140px;
            }
            &:nth-child(4) {
                width: 20.6%;
            }
        }
    }
    .body {
        .item {
            background: rgba(255, 255, 255, 0.05);
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            padding: 5px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:last-child {
                border-radius: 0px 0px 10px 10px;
            }
            &+.item {
                margin-top: 1px;
            }
            .info {
                display: flex;
                justify-content: center;
                align-items: center;
                &:first-child {
                    justify-content: flex-start;
                }
                &:last-child {
                    justify-content: flex-end;
                }
                &:nth-child(1) {
                    width: 104px;
                }
                &:nth-child(2) {
                    width: 44.2%;
                }
                &:nth-child(3) {
                    width: 140px;
                }
                &:nth-child(4) {
                    width: 20.6%;
                }
                svg {
                    display: block;
                    margin-right: 5px;
                }
                .number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                    background: linear-gradient(180deg, #2D384D 0%, #131C2E 100%);
                    border-radius: 5px;
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                }
                .img {
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 3px;
                    overflow: hidden;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }

        }
    }
}