@charset "UTF-8";
.banner {
  overflow: hidden;
  background: #131C2E url("../image/bg-banner.png") no-repeat 50% 50%;
  border-radius: 30px;
  height: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative; }
  .banner::before, .banner:after {
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    top: 0; }
  .banner:after {
    background: url("../image/bg-banner-right.png") no-repeat 50% 100%;
    width: 254px;
    right: 0; }
  .banner::before {
    background: url("../image/bg-banner-left.png") no-repeat 50% 100%;
    width: 348px;
    left: 29px; }
    @media only screen and (max-width: 991px) {
      .banner::before {
        left: -71px; } }
    @media only screen and (max-width: 640px) {
      .banner::before {
        width: 233px;
        height: 330px;
        background-size: contain;
        bottom: -84px; } }
  .banner .slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none !important; }
    .banner .slide a:hover {
      text-decoration: none !important; }
  .banner .slide .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    position: relative;
    margin-bottom: 14px;
    padding: 0 61px;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .banner .slide .name {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        padding: 0 38px; } }
    .banner .slide .name:before, .banner .slide .name:after {
      position: absolute;
      top: 50%;
      display: block;
      content: '';
      background: #5397FD;
      height: 1px;
      width: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 767px) {
        .banner .slide .name:before, .banner .slide .name:after {
          width: 30px; } }
    .banner .slide .name:before {
      left: 0; }
    .banner .slide .name:after {
      right: 0; }
  .banner .slide .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 14px; }
    @media only screen and (max-width: 767px) {
      .banner .slide .title {
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        padding: 0 70px; } }
  .banner .slide .game {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF; }
    @media only screen and (max-width: 767px) {
      .banner .slide .game {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px; } }
    .banner .slide .game img,
    .banner .slide .game svg {
      display: block;
      margin-right: 15px; }
  .banner .slick-next,
  .banner .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; }
  .banner .slick-next {
    right: 20px; }
  .banner .slick-prev {
    left: 20px; }
  .banner .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%; }
    .banner .slick-dots li {
      width: 35px;
      margin-left: 5px; }
      .banner .slick-dots li:first-child {
        margin-left: 0; }
      .banner .slick-dots li button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        border: none;
        outline: none !important;
        transition: all linear 0.4s;
        text-decoration: none !important;
        height: 2px;
        width: 35px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        text-indent: -9999px; }
        .banner .slick-dots li button:hover {
          background: #5397FD; }
        .banner .slick-dots li button:focus {
          outline: none !important;
          box-shadow: none !important; }
      .banner .slick-dots li.slick-active button {
        background: #5397FD; }

.content {
  width: calc(100% - 325px); }
  @media only screen and (max-width: 991px) {
    .content {
      width: 100%;
      margin-bottom: 30px; } }

.sort-links {
  display: flex;
  margin-bottom: 20px;
  padding-top: 22px; }
  .sort-links a {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 20px; }
    .sort-links a:first-child {
      margin-left: 0; }

.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .statistics .item {
    background: rgba(19, 28, 46, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    width: calc((100% - 4px) / 5);
    padding: 20px; }
    @media only screen and (max-width: 767px) {
      .statistics .item {
        font-size: 13px;
        line-height: 15px;
        padding: 15px 10px; } }
    .statistics .item:first-child {
      border-radius: 20px 0 0 20px; }
    .statistics .item:last-child {
      border-radius: 0 20px 20px 0; }
    .statistics .item .number {
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      text-transform: uppercase;
      color: #FFFFFF;
      display: block; }
      @media only screen and (max-width: 1199px) {
        .statistics .item .number {
          font-size: 24px;
          line-height: 28px; } }
      @media only screen and (max-width: 767px) {
        .statistics .item .number {
          font-size: 19px;
          line-height: 22px; } }
    .statistics .item p {
      margin: 0; }

.start-block {
  padding: 20px 30px;
  margin-top: 20px;
  background: rgba(19, 28, 46, 0.9);
  border-radius: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 640px) {
    .start-block {
      flex-direction: column;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      align-items: flex-start; } }
  .start-block p {
    margin: 0; }
  .start-block .text {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 640px) {
      .start-block .text {
        margin-bottom: 10px; } }
    .start-block .text .ico {
      display: block;
      margin-right: 10px; }
      .start-block .text .ico svg {
        display: block; }
  .start-block .btn {
    max-width: 310px;
    padding: 0 20px; }
    @media only screen and (max-width: 640px) {
      .start-block .btn {
        width: 100%;
        max-width: 100%; } }

.game-info .info-list {
  display: flex;
  justify-content: space-between; }
  .game-info .info-list .item {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 15px;
    width: 32%; }
    @media only screen and (max-width: 640px) {
      .game-info .info-list .item {
        padding: 10px; } }
    .game-info .info-list .item .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 5px; }
      @media only screen and (max-width: 640px) {
        .game-info .info-list .item .title {
          font-weight: 400;
          font-size: 15px;
          line-height: 18px; } }
      .game-info .info-list .item .title svg {
        display: block;
        margin-right: 5px; }
    .game-info .info-list .item strong {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 35px;
      line-height: 41px;
      text-transform: uppercase;
      color: #FFFFFF; }
      @media only screen and (max-width: 640px) {
        .game-info .info-list .item strong {
          font-weight: 700;
          font-size: 20px;
          line-height: 23px; } }

.progress-bar {
  padding: 5px;
  background: #131C2E;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 20px; }
  .progress-bar .line {
    background: url("../image/bg-progres.png") repeat-x, linear-gradient(180deg, #29ACD6 0%, #494FD8 100%);
    border-radius: 7px 0px 0px 7px;
    height: 40px; }
  .progress-bar .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }

.part-block {
  padding-top: 20px; }
  .part-block .part-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .part-block .part-list .item {
      width: 34.2%;
      min-height: 60px; }
      @media only screen and (max-width: 824px) {
        .part-block .part-list .item {
          width: 49.2%; } }
      .part-block .part-list .item:last-child {
        width: 28.95%; }
        @media only screen and (max-width: 824px) {
          .part-block .part-list .item:last-child {
            width: 49.2%;
            margin: 10px auto 0; } }
        @media only screen and (max-width: 640px) {
          .part-block .part-list .item:last-child {
            width: 100%; } }
      .part-block .part-list .item .box {
        padding: 0 20px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        height: 100%;
        margin: 0; }
        @media only screen and (max-width: 640px) {
          .part-block .part-list .item .box {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            padding: 5px 10px; } }
        .part-block .part-list .item .box p {
          margin: 0; }
        .part-block .part-list .item .box .ico {
          display: block;
          margin-right: 10px; }
          .part-block .part-list .item .box .ico svg {
            display: block; }
        .part-block .part-list .item .box.info-box {
          display: flex;
          justify-content: space-between;
          position: relative; }
          .part-block .part-list .item .box.info-box:after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            background: rgba(255, 255, 255, 0.1);
            height: 29px;
            display: block;
            content: '';
            transform: translateY(-50%); }
          .part-block .part-list .item .box.info-box .info {
            width: 50%;
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF; }
            .part-block .part-list .item .box.info-box .info:last-child {
              justify-content: flex-end; }
            .part-block .part-list .item .box.info-box .info span {
              display: inline-block;
              padding-left: 5px;
              font-weight: 700;
              font-size: 20px;
              line-height: 23px; }
              .part-block .part-list .item .box.info-box .info span.blue {
                color: #5397FD; }
              .part-block .part-list .item .box.info-box .info span.orange {
                color: #F79E1B; }
              .part-block .part-list .item .box.info-box .info span.green {
                color: #39B254; }
      .part-block .part-list .item .btn {
        min-height: 60px;
        padding: 0 10px; }
  .part-block .user-info {
    border-radius: 10px;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 2px;
    margin-top: 20px;
    position: relative; }
    @media only screen and (max-width: 640px) {
      .part-block .user-info {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px; } }
    .part-block .user-info:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: '';
      background: linear-gradient(180deg, #29ACD6 0%, #494FD8 100%);
      z-index: 1; }
    .part-block .user-info div {
      position: relative;
      z-index: 2;
      padding: 20px;
      text-align: center;
      background: rgba(19, 28, 46, 0.9);
      border-radius: 8px; }
      @media only screen and (max-width: 640px) {
        .part-block .user-info div {
          padding: 10px; } }
    .part-block .user-info p {
      margin: 0; }

.game-block {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px -3px 0px #5397FD, inset 0px 3px 0px #5397FD;
  padding: 15px 0;
  margin: 20px -30px 0;
  position: relative;
  height: 110px; }
  @media only screen and (max-width: 767px) {
    .game-block {
      order: 2;
      margin-left: -20px;
      margin-right: -20px; } }
  @media only screen and (max-width: 640px) {
    .game-block {
      height: initial; } }
  .game-block:before, .game-block:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 25px;
    z-index: 20; }
  .game-block:before {
    background: url("../image/arrow-game-top.svg") no-repeat 50% 0;
    top: 0; }
  .game-block:after {
    bottom: 0;
    background: url("../image/arrow-game-bottom.svg") no-repeat 50% 0; }
  .game-block .party-game {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10; }
    .game-block .party-game .item .img {
      width: 80px;
      height: 80px;
      overflow: hidden;
      padding: 5px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border: 1px solid rgba(255, 255, 255, 0.1); }
      @media only screen and (max-width: 640px) {
        .game-block .party-game .item .img {
          width: 70px;
          height: 70px; } }
      .game-block .party-game .item .img.min {
        border: 1px solid #CA3838; }
      .game-block .party-game .item .img.mid {
        border: 1px solid #F79E1B; }
      .game-block .party-game .item .img.max {
        border: 1px solid #39B254; }
      .game-block .party-game .item .img img {
        display: block;
        width: 100%;
        height: auto; }

.user-game {
  margin-top: 20px; }
  .user-game.history-game .users-list {
    border-radius: 0; }
  .user-game.history-game.history-coin .game-head {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px; }
  .user-game.history-game .game-head {
    background: linear-gradient(180deg, #29ACD6 0%, #494FD8 100%);
    border-radius: 10px 10px 0px 0px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      .user-game.history-game .game-head {
        flex-direction: column; } }
    .user-game.history-game .game-head .item {
      width: 172px;
      position: relative; }
      @media only screen and (max-width: 767px) {
        .user-game.history-game .game-head .item {
          width: 100%; } }
      .user-game.history-game .game-head .item.winner-info {
        width: initial;
        display: flex;
        align-items: center; }
        @media only screen and (max-width: 767px) {
          .user-game.history-game .game-head .item.winner-info {
            margin: 10px 0; } }
        @media only screen and (max-width: 480px) {
          .user-game.history-game .game-head .item.winner-info {
            width: 100%; } }
        .user-game.history-game .game-head .item.winner-info .img {
          overflow: hidden;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(255, 255, 255, 0.1);
          margin-right: 10px;
          padding: 5px; }
          .user-game.history-game .game-head .item.winner-info .img img {
            display: block;
            width: 100%;
            height: auto; }
        .user-game.history-game .game-head .item.winner-info .information .status {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: #FFFFFF;
          margin-bottom: 10px; }
          .user-game.history-game .game-head .item.winner-info .information .status svg {
            display: block;
            margin-right: 5px; }
        .user-game.history-game .game-head .item.winner-info .information .name {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          display: block; }
      @media only screen and (max-width: 767px) {
        .user-game.history-game .game-head .item:first-child .info:last-child {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0; } }
      @media only screen and (max-width: 767px) {
        .user-game.history-game .game-head .item:last-child {
          display: flex;
          justify-content: space-between; } }
      @media only screen and (max-width: 767px) {
        .user-game.history-game .game-head .item:last-child .info {
          flex-direction: column;
          align-items: flex-start; }
          .user-game.history-game .game-head .item:last-child .info + .info {
            padding-left: 5px;
            margin: 0; } }
      @media only screen and (max-width: 767px) {
        .user-game.history-game .game-head .item:last-child .info .label {
          margin-bottom: 5px; } }
      .user-game.history-game .game-head .item .info + .info {
        margin-top: 10px; }
      .user-game.history-game .game-head .item .info h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF; }
      .user-game.history-game .game-head .item .info .date {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF; }
        .user-game.history-game .game-head .item .info .date svg {
          margin-right: 5px; }
      .user-game.history-game .game-head .item .info .btn-small {
        padding: 3px 10px;
        min-height: initial;
        height: initial;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        width: initial;
        text-transform: none;
        border-radius: 5px; }
        .user-game.history-game .game-head .item .info .btn-small:hover {
          background: linear-gradient(180deg, #2D384D 0%, #131C2E 100%);
          color: #5397FD; }
  .user-game .users-list {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 1px;
    padding: 15px 30px;
    position: relative; }
    .user-game .users-list .slick-prev,
    .user-game .users-list .slick-next {
      position: absolute;
      top: 53px; }
    .user-game .users-list .slick-prev {
      left: -20px; }
    .user-game .users-list .slick-next {
      right: -20px; }
    .user-game .users-list .item {
      flex-direction: column;
      justify-content: center;
      padding: 0 5px; }
      .user-game .users-list .item.min .img {
        border-color: #CA3838; }
      .user-game .users-list .item.min .percent .line {
        background: linear-gradient(180deg, #FF5F5F 0%, #CA3838 100%); }
      .user-game .users-list .item.mid .img {
        border-color: #F79E1B; }
      .user-game .users-list .item.mid .percent .line {
        background: linear-gradient(180deg, #F79E1B 0%, #D35914 100%); }
      .user-game .users-list .item.max .img {
        border-color: #39B254; }
      .user-game .users-list .item.max .percent .line {
        background: linear-gradient(180deg, #39B354 0%, #24913C 100%); }
      .user-game .users-list .item .img {
        padding: 7px;
        border: 1px solid transparent;
        width: 116px;
        height: 116px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto 5px; }
        @media only screen and (max-width: 640px) {
          .user-game .users-list .item .img {
            padding: 5px;
            width: 76px;
            height: 76px; } }
        .user-game .users-list .item .img img {
          display: block;
          width: 100%;
          height: auto; }
      .user-game .users-list .item .sum {
        display: block;
        text-align: center;
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF; }
      .user-game .users-list .item .percent {
        background: #131C2E;
        border-radius: 50px;
        width: 80px;
        height: 16px;
        margin: 0 auto 9px;
        position: relative; }
        .user-game .users-list .item .percent .line {
          display: block;
          height: 16px;
          border-radius: 50px;
          position: relative;
          z-index: 1; }
        .user-game .users-list .item .percent .number {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          z-index: 2; }
      .user-game .users-list .item .name {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: block;
        text-align: center;
        color: #FFFFFF; }
  .user-game .items-box {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px 0px 10px 10px;
    padding: 15px 20px; }
    .user-game .items-box .items-list {
      display: flex;
      flex-wrap: wrap;
      margin: -10px 0 0 -10px;
      width: calc(100% + 10px); }
      .user-game .items-box .items-list .item {
        padding: 10px 0 0 10px;
        width: calc(100% / 8); }
        @media only screen and (max-width: 767px) {
          .user-game .items-box .items-list .item {
            width: calc(100% / 6); } }
        @media only screen and (max-width: 640px) {
          .user-game .items-box .items-list .item {
            width: calc(100% / 4); } }
        .user-game .items-box .items-list .item.rare-1 img {
          border-color: #945AFF; }
        .user-game .items-box .items-list .item.rare-2 img {
          border-color: #5B76FF; }
        .user-game .items-box .items-list .item.rare-3 img {
          border-color: #F79E1B; }
        .user-game .items-box .items-list .item.rare-4 img {
          border-color: #DE5AFF; }
      .user-game .items-box .items-list img {
        border: 1px solid transparent;
        display: block;
        width: 100%;
        height: auto; }

.deposits-list {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0px 0px 10px 10px;
  padding: 15px; }
  .deposits-list .btn-drop {
    background: linear-gradient(180deg, #2D384D 0%, #131C2E 100%) !important;
    box-shadow: none !important; }
  @media only screen and (max-width: 640px) {
    .deposits-list .list-box {
      display: none;
      padding-top: 10px; } }
  .deposits-list .item {
    border: 1px solid #313749;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .deposits-list .item + .item {
      margin-top: 10px; }
    .deposits-list .item .prise {
      width: 100px;
      border: 1px solid transparent; }
      @media only screen and (max-width: 640px) {
        .deposits-list .item .prise {
          position: absolute;
          top: 20px;
          right: 20px; } }
      .deposits-list .item .prise.in-1 {
        border-color: #945AFF; }
      .deposits-list .item .prise.in-2 {
        border-color: #5B76FF; }
      .deposits-list .item .prise.in-3 {
        border-color: #F79E1B; }
      .deposits-list .item .prise.in-4 {
        border-color: #DE5AFF; }
      .deposits-list .item .prise img {
        display: block;
        width: 100%;
        height: auto; }
    .deposits-list .item .info-box {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 640px) {
        .deposits-list .item .info-box {
          flex-direction: column;
          align-items: flex-start; } }
      .deposits-list .item .info-box .img {
        padding: 5px;
        width: 95px;
        height: 95px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        opacity: 0.5;
        margin-right: 10px;
        border-radius: 50%; }
        @media only screen and (max-width: 640px) {
          .deposits-list .item .info-box .img {
            margin: 0 0 10px; } }
        .deposits-list .item .info-box .img img {
          display: block;
          width: 100%;
          height: auto; }
      .deposits-list .item .info-box .info-user .name {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 6px; }
      .deposits-list .item .info-box .info-user .info {
        display: flex;
        flex-wrap: wrap; }
        @media only screen and (max-width: 991px) {
          .deposits-list .item .info-box .info-user .info {
            flex-direction: column; } }
        .deposits-list .item .info-box .info-user .info .holder-box + .holder-box {
          margin-left: 20px; }
          @media only screen and (max-width: 991px) {
            .deposits-list .item .info-box .info-user .info .holder-box + .holder-box {
              margin-left: 0;
              margin-top: 10px; } }
        .deposits-list .item .info-box .info-user .info .holder-box .title {
          display: block;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: rgba(255, 255, 255, 0.5); }
        .deposits-list .item .info-box .info-user .info .holder-box .invested,
        .deposits-list .item .info-box .info-user .info .holder-box .ticket {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;
          color: #FFFFFF; }
        .deposits-list .item .info-box .info-user .info .holder-box .sum,
        .deposits-list .item .info-box .info-user .info .holder-box .number {
          display: block;
          border-radius: 5px;
          padding: 3px 5px;
          margin-left: 5px;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #FFFFFF; }
        .deposits-list .item .info-box .info-user .info .holder-box .invested.in-1 {
          color: #945AFF; }
          .deposits-list .item .info-box .info-user .info .holder-box .invested.in-1 .sum {
            background: #945AFF; }
        .deposits-list .item .info-box .info-user .info .holder-box .invested.in-2 {
          color: #5B76FF; }
          .deposits-list .item .info-box .info-user .info .holder-box .invested.in-2 .sum {
            background: #5B76FF; }
        .deposits-list .item .info-box .info-user .info .holder-box .invested.in-3 {
          color: #F79E1B; }
          .deposits-list .item .info-box .info-user .info .holder-box .invested.in-3 .sum {
            background: #F79E1B; }
        .deposits-list .item .info-box .info-user .info .holder-box .invested.in-4 {
          color: #DE5AFF; }
          .deposits-list .item .info-box .info-user .info .holder-box .invested.in-4 .sum {
            background: #DE5AFF; }
        .deposits-list .item .info-box .info-user .info .holder-box .ticket {
          color: #FFFFFF; }
        .deposits-list .item .info-box .info-user .info .holder-box .number {
          background: linear-gradient(180deg, #2D384D 0%, #131C2E 100%); }

.sort-history {
  margin-bottom: 20px; }
  .sort-history .line-box {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .sort-history .line-box .label {
      width: 119px; }
    .sort-history .line-box + .line-box {
      margin-top: 20px; }
  .sort-history .search {
    width: calc(100% - 105px); }
    @media only screen and (max-width: 767px) {
      .sort-history .search {
        width: 100%; } }
  .sort-history .control-block {
    display: flex; }
    @media only screen and (max-width: 767px) {
      .sort-history .control-block {
        display: none; } }
    .sort-history .control-block .btn + .btn {
      margin-left: 5px; }
  .sort-history .filter-box {
    width: calc(100% - 119px);
    position: relative; }
    .sort-history .filter-box .holder-btn {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .sort-history .filter-box .holder-btn {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          padding: 10px;
          width: 100%;
          background: #131c2e;
          border-radius: 10px;
          z-index: 10; } }
    .sort-history .filter-box .btn {
      width: calc((100% - 20px) / 3); }
      @media only screen and (max-width: 767px) {
        .sort-history .filter-box .btn {
          width: 100%; } }
      .sort-history .filter-box .btn.btn-select {
        display: none; }
        @media only screen and (max-width: 767px) {
          .sort-history .filter-box .btn.btn-select {
            display: flex; } }
      .sort-history .filter-box .btn + .btn {
        margin-left: 10px; }
        @media only screen and (max-width: 767px) {
          .sort-history .filter-box .btn + .btn {
            margin-left: 0;
            margin-top: 10px; } }
      .sort-history .filter-box .btn svg {
        margin-right: 10px; }

.label-info {
  background: linear-gradient(180deg, #2D384D 0%, #131C2E 100%);
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF; }
  .label-info.chance.min {
    background: linear-gradient(180deg, #FF5F5F 0%, #CA3838 100%); }
  .label-info.chance.mid {
    background: linear-gradient(180deg, #F79E1B 0%, #D35914 100%); }
  .label-info.chance.max {
    background: linear-gradient(180deg, #39B354 0%, #24903C 100%); }

.first-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-between; }
  @media only screen and (max-width: 640px) {
    .first-top {
      flex-direction: column; } }
  .first-top .item {
    width: calc((100% - 20px) / 3);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 20px;
    position: relative; }
    @media only screen and (max-width: 640px) {
      .first-top .item {
        width: 100%; }
        .first-top .item + .item {
          margin-top: 10px; } }
    .first-top .item .number {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 40px;
      height: 40px;
      display: block;
      padding-top: 3px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #000000; }
      .first-top .item .number.gold {
        background: url("../image/ico-goblet-gold.svg") no-repeat 50% 0; }
      .first-top .item .number.silver {
        background: url("../image/ico-goblet-silver.svg") no-repeat 50% 0; }
      .first-top .item .number.bronze {
        background: url("../image/ico-goblet-bronze.svg") no-repeat 50% 0; }
    .first-top .item .img {
      margin: 0 auto 10px;
      width: 100px;
      height: 100px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow: hidden;
      padding: 5px;
      border-radius: 50%; }
      .first-top .item .img img {
        display: block;
        width: 100%;
        height: auto; }
    .first-top .item .info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #FFFFFF; }
      .first-top .item .info.name {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF; }
      .first-top .item .info > span {
        color: #F79E1B;
        padding-left: 5px; }
      .first-top .item .info + .info {
        margin-top: 10px; }
      .first-top .item .info svg {
        display: block;
        margin-right: 5px; }

.btn-user {
  cursor: pointer; }

.honesty-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
  @media only screen and (max-width: 767px) {
    .honesty-box {
      margin-bottom: 20px; } }
  .honesty-box .item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 100%; }
    .honesty-box .item .head {
      margin-bottom: 15px;
      display: flex;
      align-items: center; }
      .honesty-box .item .head .ico {
        display: block;
        margin: 0 10px 0 0;
        max-width: 35px;
        height: auto; }
        @media only screen and (max-width: 640px) {
          .honesty-box .item .head .ico {
            max-width: 25px; } }
        .honesty-box .item .head .ico img {
          display: block;
          width: 100%;
          height: auto; }
    .honesty-box .item h4 {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .honesty-box .item p {
      margin: 0; }
      .honesty-box .item p span {
        color: #5397FD; }
      .honesty-box .item p a {
        color: #5397FD;
        text-decoration: underline; }
        .honesty-box .item p a:hover {
          text-decoration: none; }
    .honesty-box .item .ico {
      display: flex;
      margin-bottom: 20px; }
      .honesty-box .item .ico img,
      .honesty-box .item .ico svg {
        display: block; }

.rules-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF; }
  .rules-box a {
    text-decoration: underline; }
    .rules-box a:hover {
      text-decoration: none; }
  .rules-box ol {
    padding: 0 0 0 25px; }
    .rules-box ol li {
      list-style: inherit; }
      .rules-box ol li + li {
        margin-top: 15px; }

.payment-system {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .payment-system.payment-system-out .item:nth-child(1), .payment-system.payment-system-out .item:nth-child(2), .payment-system.payment-system-out .item:nth-child(3) {
    width: calc((100% - 40px) / 3); }
    @media only screen and (max-width: 767px) {
      .payment-system.payment-system-out .item:nth-child(1), .payment-system.payment-system-out .item:nth-child(2), .payment-system.payment-system-out .item:nth-child(3) {
        width: calc((100% - 10px) / 2); } }
  @media only screen and (max-width: 767px) {
    .payment-system.payment-system-out .item:nth-child(1) {
      width: 100%; } }
  .payment-system .item {
    height: 100px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    border: 2px solid transparent;
    padding: 10px;
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 991px) {
      .payment-system .item {
        margin-bottom: 10px;
        width: calc((100% - 30px) / 4); } }
    @media only screen and (max-width: 767px) {
      .payment-system .item {
        width: calc((100% - 10px) / 2); } }
    .payment-system .item .percent {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #E84526;
      position: absolute;
      top: 10px;
      right: 10px; }
    .payment-system .item.active {
      border: 2px solid #5397FD; }
    .payment-system .item span {
      display: block;
      margin-top: 5px; }
    .payment-system .item img {
      display: block;
      max-width: 100%;
      height: auto; }

.replenish {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .replenish {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 15px; } }
  .replenish.sum-box .input-control {
    height: 60px; }
    .replenish.sum-box .input-control input {
      width: 100%; }
  .replenish .input-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 210px);
    padding: 10px 20px;
    height: initial; }
    @media only screen and (max-width: 767px) {
      .replenish .input-control {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px; } }
    .replenish .input-control input {
      padding: 0;
      background: none;
      width: calc(100% - 265px);
      height: 40px; }
      @media only screen and (max-width: 767px) {
        .replenish .input-control input {
          width: 100%; } }
    .replenish .input-control .btn-holder {
      display: flex;
      align-items: center;
      max-width: 260px; }
      .replenish .input-control .btn-holder .btn {
        width: initial;
        padding: 0 10px; }
        .replenish .input-control .btn-holder .btn + .btn {
          margin-left: 5px; }
  .replenish .btn-replenish {
    width: 190px;
    padding: 0 20px; }
  .replenish .total-info {
    width: 190px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    min-height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px; }
    @media only screen and (max-width: 767px) {
      .replenish .total-info {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center; } }
    .replenish .total-info span {
      display: block; }
      .replenish .total-info span span {
        color: #5397fd;
        display: inline; }

.warning {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.75); }
  @media only screen and (max-width: 767px) {
    .warning {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px; } }
  .warning.warning-bg {
    background: rgba(83, 151, 253, 0.1);
    border-radius: 10px;
    padding: 10px 20px; }
  .warning a {
    text-decoration: underline; }
    .warning a:hover {
      text-decoration: none; }
  .warning p {
    margin: 0; }
  .warning svg {
    display: block; }
  .warning .ico {
    display: block;
    width: 24px; }
  .warning .text {
    width: calc(100% - 24px);
    padding-left: 10px; }

.user-address {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .user-address {
      flex-direction: column; } }
  .user-address .input-control {
    width: calc(50% - 10px);
    height: 60px; }
    @media only screen and (max-width: 767px) {
      .user-address .input-control {
        width: 100%;
        margin-bottom: 10px; } }
  .user-address .warning {
    width: calc(50% - 10px); }
    @media only screen and (max-width: 767px) {
      .user-address .warning {
        width: 100%; } }

.code-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .code-box .input-control {
    height: 60px;
    width: calc(100% - 400px); }
    @media only screen and (max-width: 767px) {
      .code-box .input-control {
        width: calc(100% - 180px); } }
  .code-box .code-img {
    width: 180px;
    height: 60px;
    margin: 0 20px; }
    @media only screen and (max-width: 767px) {
      .code-box .code-img {
        margin: 0; } }
    .code-box .code-img img {
      display: block;
      width: 100%;
      height: auto; }
  .code-box .btn {
    width: 179px; }
    @media only screen and (max-width: 767px) {
      .code-box .btn {
        width: 100%;
        margin-top: 10px; } }

.аccount-number {
  margin-bottom: 20px; }
  .аccount-number .input-control {
    height: 60px;
    width: 100%; }

.items-slider {
  position: relative; }
  .items-slider.slider-operations .slick-arrow.slick-next {
    right: -20px; }
  .items-slider.slider-operations .slick-arrow.slick-prev {
    left: -20px; }
  .items-slider.slider-sale .slick-arrow.slick-next {
    right: -20px; }
  .items-slider.slider-sale .slick-arrow.slick-prev {
    left: -20px; }
  .items-slider.slider-sale .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 5px; }
    .items-slider.slider-sale .item .img {
      margin-bottom: 0; }
    .items-slider.slider-sale .item .info {
      width: calc(100% - 110px); }
      .items-slider.slider-sale .item .info .name {
        text-align: left; }
      .items-slider.slider-sale .item .info .price {
        display: inline-flex; }
  .items-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; }
    .items-slider .slick-arrow.slick-next {
      right: -40px; }
    .items-slider .slick-arrow.slick-prev {
      left: -40px; }
  .items-slider .slick-slide {
    flex-direction: column; }
  .items-slider .slide {
    padding: 5px; }
  .items-slider .item {
    padding: 15px;
    border: 1px solid #313749;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; }
    .items-slider .item.rare-1.active {
      border-color: #945AFF; }
    .items-slider .item.rare-1 .img img {
      border-color: #945AFF; }
    .items-slider .item.rare-2.active {
      border-color: #5B76FF; }
    .items-slider .item.rare-2 .img img {
      border-color: #5B76FF; }
    .items-slider .item.rare-3.active {
      border-color: #F79E1B; }
    .items-slider .item.rare-3 .img img {
      border-color: #F79E1B; }
    .items-slider .item.rare-4.active {
      border-color: #DE5AFF; }
    .items-slider .item.rare-4 .img img {
      border-color: #DE5AFF; }
    .items-slider .item .name {
      display: block;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 5px; }
    .items-slider .item .price {
      display: flex;
      border-radius: 5px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
      padding: 3px 5px;
      background: linear-gradient(180deg, #2D384D 0%, #131C2E 100%); }
    .items-slider .item .img {
      margin-bottom: 10px; }
      .items-slider .item .img img {
        display: block;
        border: 1px solid #313749; }

.total-box {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 20px;
  height: 50px; }
  @media only screen and (max-width: 767px) {
    .total-box {
      height: initial;
      flex-direction: column;
      align-items: flex-start; } }
  .total-box .item {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center; }
    @media only screen and (max-width: 767px) {
      .total-box .item {
        justify-content: flex-start; } }
    .total-box .item:after {
      display: block;
      content: '';
      background: rgba(255, 255, 255, 0.1);
      width: 1px;
      height: 29px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      @media only screen and (max-width: 767px) {
        .total-box .item:after {
          display: none; } }
    .total-box .item:first-child {
      text-align: left;
      justify-content: flex-start; }
      .total-box .item:first-child:after {
        display: none; }
    .total-box .item:last-child {
      text-align: right;
      justify-content: flex-end; }
    .total-box .item .label {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      display: block;
      margin-right: 5px; }
    .total-box .item .info {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #5397FD; }
      .total-box .item .info.chance {
        color: #F79E1B; }

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }
  @media only screen and (max-width: 767px) {
    .search-box.search-operations {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 767px) {
    .search-box.search-operations .btn-select {
      width: 100%;
      margin-bottom: 15px; } }
  .search-box.search-operations .search {
    width: calc(100% - 434px); }
    @media only screen and (max-width: 767px) {
      .search-box.search-operations .search {
        width: calc(100% - 165px); } }
  .search-box .search {
    width: calc(100% - 264px); }
    @media only screen and (max-width: 767px) {
      .search-box .search {
        width: calc(100% - 165px); } }
  .search-box .price-box {
    display: flex;
    align-items: center; }
    .search-box .price-box span {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      display: block;
      margin-right: 10px; }
      @media only screen and (max-width: 767px) {
        .search-box .price-box span {
          margin-right: 5px; } }
      .search-box .price-box span.separator {
        margin: 0 10px; }
        @media only screen and (max-width: 767px) {
          .search-box .price-box span.separator {
            margin: 0 5px; } }
    .search-box .price-box input {
      text-align: center;
      padding: 0;
      width: 80px; }
      @media only screen and (max-width: 767px) {
        .search-box .price-box input {
          width: 46px; } }

.items-operations {
  min-height: 470px;
  position: relative;
  margin-bottom: 10px; }
  @media only screen and (max-width: 1099px) {
    .items-operations {
      min-height: initial; } }
  .items-operations.no-items:after {
    display: inline-flex;
    content: 'Нет предметов';
    padding-left: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: url("../image/ico-alert.svg") no-repeat 0 50%;
    min-height: 24px; }

.bottom-operation {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 10px; }
  .bottom-operation .items-bottom {
    min-height: 97px;
    position: relative; }
    @media only screen and (max-width: 640px) {
      .bottom-operation .items-bottom {
        min-height: initial; } }
    .bottom-operation .items-bottom.no-items:after {
      display: inline-flex;
      content: 'Нет предметов';
      padding-left: 34px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      background: url("../image/ico-alert.svg") no-repeat 0 50%;
      min-height: 24px; }
  .bottom-operation .total-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; }
    @media only screen and (max-width: 767px) {
      .bottom-operation .total-holder {
        flex-direction: column; } }
    .bottom-operation .total-holder .total-box {
      width: calc(100% - 176px);
      margin-top: 0;
      height: 50px; }
      @media only screen and (max-width: 767px) {
        .bottom-operation .total-holder .total-box {
          min-height: initial;
          width: 100%;
          margin-bottom: 10px;
          flex-direction: row;
          align-items: center; } }
      @media only screen and (max-width: 767px) {
        .bottom-operation .total-holder .total-box .item:after {
          display: block !important; } }
    .bottom-operation .total-holder .btn {
      width: 166px;
      height: 50px;
      min-height: 50px;
      padding: 0 10px; }
      @media only screen and (max-width: 767px) {
        .bottom-operation .total-holder .btn {
          width: 100%; } }

.info-ref {
  padding-top: 10px; }
  .info-ref .item {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center; }
    .info-ref .item + .item {
      margin-top: 30px; }
      @media only screen and (max-width: 640px) {
        .info-ref .item + .item {
          margin-top: 10px; } }
    .info-ref .item .ico {
      display: block;
      margin-bottom: 20px; }
      @media only screen and (max-width: 640px) {
        .info-ref .item .ico {
          display: none; } }
      .info-ref .item .ico img {
        display: block; }
    .info-ref .item .number {
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 10px;
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      color: #5397FD;
      display: flex;
      padding: 0; }
    .info-ref .item span {
      display: block;
      width: calc(100% - 50px);
      padding-left: 20px; }

.works-info {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 640px) {
    .works-info {
      flex-direction: column; } }
  .works-info .img {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    width: 244px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 640px) {
      .works-info .img {
        margin-bottom: 20px;
        width: 100%; } }
    .works-info .img img {
      display: block;
      max-width: 100%;
      height: auto; }
  .works-info.works-info-ref h4 {
    margin-bottom: 20px; }
  .works-info.works-info-ref .list-block {
    width: 100%;
    padding-left: 0; }
  .works-info .list-block {
    width: calc(100% - 244px);
    padding-left: 30px; }
    @media only screen and (max-width: 640px) {
      .works-info .list-block {
        padding-left: 0;
        width: 100%; } }
    .works-info .list-block h3 {
      margin-bottom: 20px; }
    .works-info .list-block .item {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      display: flex;
      align-items: center; }
      .works-info .list-block .item + .item {
        margin-top: 15px; }
      .works-info .list-block .item .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #5397FD; }
      .works-info .list-block .item .text {
        width: calc(100% - 50px);
        padding-left: 20px; }
        .works-info .list-block .item .text p {
          margin: 0; }

.commission-info {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF; }
  @media only screen and (max-width: 640px) {
    .commission-info {
      font-size: 15px;
      line-height: 18px; } }
  .commission-info p {
    margin: 0 0 10px; }
  .commission-info .commission-list {
    display: flex;
    justify-content: space-between; }
    .commission-info .commission-list .item {
      max-width: 139px;
      width: calc((100% - 120px) / 5);
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF; }
      @media only screen and (max-width: 640px) {
        .commission-info .commission-list .item {
          font-size: 12px;
          line-height: 14px; } }
      .commission-info .commission-list .item .number {
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #5397FD; }
      .commission-info .commission-list .item.active .number {
        background: linear-gradient(180deg, #29ACD6 0%, #494FD8 100%);
        color: #fff; }
  .commission-info .progress-line {
    margin-top: 10px;
    height: 10px;
    width: 100%;
    background: url("../image/bg-ref-progress.svg") repeat-x;
    background-size: 16px 10px; }
    .commission-info .progress-line div {
      height: 10px;
      background: url("../image/bg-ref-progress-active.svg") repeat-x;
      background-size: 16px 10px; }

.head-ref {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px; }
  .head-ref .user {
    display: flex;
    align-items: center; }
    .head-ref .user .img {
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px; }
      .head-ref .user .img img {
        display: block;
        width: 100%;
        height: auto; }
    .head-ref .user .name {
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF; }
  .head-ref .wallet-info {
    display: flex;
    align-items: center; }
    .head-ref .wallet-info .btn {
      margin-left: 5px;
      width: initial; }

.code-ref-holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  @media only screen and (max-width: 640px) {
    .code-ref-holder {
      flex-direction: column; } }
  .code-ref-holder .input-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 10px);
    padding: 10px 20px;
    height: initial;
    position: relative; }
    @media only screen and (max-width: 640px) {
      .code-ref-holder .input-control {
        width: 100%; }
        .code-ref-holder .input-control + .input-control {
          margin-top: 10px; } }
    .code-ref-holder .input-control .text {
      width: calc(100% - 35px); }
      .code-ref-holder .input-control .text .label {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 2px; }
      .code-ref-holder .input-control .text .info {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        display: block;
        background: none;
        padding: 0;
        height: 19px;
        width: 100%;
        border-radius: 0; }
    .code-ref-holder .input-control .btn-copy {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0; }
      .code-ref-holder .input-control .btn-copy span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 14px;
        color: white;
        background: rgba(19, 28, 46, 0.7);
        padding: 2px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
      .code-ref-holder .input-control .btn-copy svg {
        display: block;
        margin: 0; }

.diagram-info h4 {
  margin-bottom: 0; }
.diagram-info .btn.btn-select {
  width: 186px; }
.diagram-info .diagram-box {
  margin-bottom: 30px;
  margin-top: -10px; }
  .diagram-info .diagram-box img {
    display: block;
    width: 100%;
    height: auto; }
.diagram-info .list-info {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 640px) {
    .diagram-info .list-info {
      flex-direction: column; } }
  .diagram-info .list-info .item {
    width: calc((100% - 30px) / 4);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 640px) {
      .diagram-info .list-info .item {
        width: 100%;
        flex-direction: row; }
        .diagram-info .list-info .item + .item {
          margin-top: 10px; } }
    .diagram-info .list-info .item br {
      display: none; }
    .diagram-info .list-info .item span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      margin-bottom: 10px; }
    .diagram-info .list-info .item strong {
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #5397FD; }

.steps-photo h4 {
  margin-bottom: 0; }
.steps-photo .steps-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .steps-photo .steps-list .item {
    margin-top: 20px;
    width: calc(50% - 10px);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 10px; }
    @media only screen and (max-width: 640px) {
      .steps-photo .steps-list .item {
        width: 100%; } }
    .steps-photo .steps-list .item div {
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 10px; }
    .steps-photo .steps-list .item img {
      display: block;
      width: 100%;
      height: auto; }
    .steps-photo .steps-list .item span {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF; }

.my-ref-holder {
  display: none;
  padding-top: 10px; }

@media only screen and (max-width: 640px) {
  .holder-flex {
    display: flex;
    flex-direction: column; }
    .holder-flex .game-info {
      order: 1; }
    .holder-flex .progress-bar {
      order: 3; }
    .holder-flex .part-block {
      order: 4; }
    .holder-flex .user-game {
      order: 2; } }

.trade-box {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 640px) {
    .trade-box {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; } }
  @media only screen and (max-width: 640px) {
    .trade-box a {
      display: inline-block;
      margin-top: 10px; } }

@media only screen and (max-width: 767px) {
  .trade-input .btn {
    width: 100%; } }

.ico-title {
  display: flex;
  align-items: center; }
  .ico-title .ico {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 0 8px; }
    .ico-title .ico img {
      display: block;
      width: 100%;
      height: auto; }

/*# sourceMappingURL=home.css.map */
