@import "../../_helpers/variables";
.modal-backdrop {
    background: rgba(6, 11, 20, 0.75);
    backdrop-filter: blur(5px);
}
.modal {
    &.user-modal {
        .modal-dialog {
            @media only screen and (min-width : $responsive-size-desktop) {
                max-width: 875px;
            }
        }
    }
    .modal-dialog {
        @media only screen and (min-width : 576px) {
            max-width: 90vw;
        }
        @media only screen and (min-width : $responsive-size-tablet) {
            max-width: 768px;
        }
        @media only screen and (min-width : $responsive-size-desktop) {
            max-width: 1000px;
        }
    }
    .modal-content {
        background: #131C2E;
        border-radius: 20px;
        padding: 30px;
        position: relative;
        @media only screen and (max-width : $responsive-size-stand-mobile) {
            padding: 15px;
        }
        .btn-close {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 24px;
            height: 24px;
            padding: 0;
            min-height: 24px;
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                top: 20px;
                right: 20px;
            }
            svg {
                display: block;
            }
        }
        .head {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            position: relative;
            @media only screen and (max-width : $responsive-size-big-tablet) {
                flex-wrap: wrap;
            }
            .number-ticket {
                display: none;
                width: 100%;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                margin-top: 5px;
                order: 2;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    display: block;
                }
            }
            &.head-btn {
                h2 {
                    min-height: 40px;
                    @media only screen and (max-width : $responsive-size-big-tablet) {
                        width: initial;
                    }
                }
                .btn {
                    &.btn-add {
                        width: initial;
                        position: absolute;
                        top: 0;
                        right: 0;
                        @media only screen and (max-width : $responsive-size-big-tablet) {
                            position: relative;
                            background: none !important;
                            padding: 10px;
                            order: 2;
                            margin-left: auto;
                            span {
                                display: none;
                            }
                        }
                        img {
                            display: none;
                            @media only screen and (max-width : $responsive-size-big-tablet) {
                                display: block;
                            }
                        }
                    }
                }
            }
            h2 {
                @media only screen and (max-width : $responsive-size-big-tablet) {
                    order: 1;
                    width: 50%;
                    text-align: left;
                    justify-content: flex-start;
                    margin: 0;
                }
            }
            .item {
                display: flex;
                align-items: center;
                min-width: 260px;
                @media only screen and (max-width : $responsive-size-big-tablet) {
                    order: 2;
                    margin-left: auto;
                    min-width: initial;
                }
                &:last-child {
                    @media only screen and (max-width : $responsive-size-big-tablet) {
                        width: 100%;
                        margin-top: 15px;
                        .btn {
                            flex-grow: 1;
                        }
                    }
                }
                .btn {
                    margin-left: 5px;
                    width: initial;
                    &:first-child {
                        margin-left: 0;
                    }
                    &.btn-top_up {
                        svg {
                            display: none;
                            margin: 0;
                            @media only screen and (max-width : $responsive-size-big-mobile) {
                                display: block;
                            }
                        }
                        span {
                            display: block;
                            @media only screen and (max-width : $responsive-size-big-mobile) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .skins-holder {
            background: rgba(255, 255, 255, 0.05);
            border-radius: 10px 10px 0 0;
            padding: 20px;
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                padding: 10px;
                .items-slider {
                    .slick-arrow {
                        &.slick-prev {
                            left: -20px;
                        }
                        &.slick-next {
                            right: -20px;
                        }
                    }
                }
            }

        }
        .skins-items {
            &.no-items {
                height: 470px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                    svg {
                        display: block;
                        margin-right: 10px;
                    }
                }
                .btn {
                    width: initial;
                }
            }

        }
        .btn-buy {
            border-radius: 0px 0px 10px 10px;
        }
        .user-head {
            margin-bottom: 40px;
            .top {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                .img {
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: 10px;
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
                .name {
                    display: block;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 42px;
                    color: #FFFFFF;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 30px;
                    }
                }
            }
            .status {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    justify-content: space-between;
                }
                .right-item {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        flex-direction: column;
                        width: 30.3%;
                    }
                    .item {
                        @media only screen and (max-width : $responsive-size-stand-mobile) {
                            width: 100%;
                        }
                    }
                }
                .item {
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    position: relative;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    color: #FFFFFF;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        padding: 0;
                    }
                    svg {
                        display: block;
                        margin-right: 5px;
                    }
                    a {
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: #FFFFFF;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    a,
                    span {
                        max-width: calc(100% - 21px);
                    }
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        display: block;
                        content: '';
                        background: rgba(255, 255, 255, 0.1);
                        @media only screen and (max-width : $responsive-size-stand-mobile) {
                            display: none;
                        }
                    }
                    &.link-item {
                        padding-left: 0;
                        @media only screen and (max-width : $responsive-size-stand-mobile) {
                            word-break: break-all;
                            width: 60.6%;
                            padding: 0;
                        }
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .info-block {
            margin-bottom: 40px;
            .info-list {
                .item {
                    padding: 10px 20px;
                    background: rgba(255, 255, 255, 0.05);
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #FFFFFF;
                    &+.item {
                        margin-top: 5px;
                    }
                    .label {
                        display: flex;
                        align-items: center;
                        svg {
                            display: block;
                            margin-right: 5px;
                        }
                        em {
                            font-style: normal;
                            color: rgba(255, 255, 255, 0.5);
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
        .history-block {
            .head-history {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                h3 {
                    margin: 0;
                }
            }
            .sort-history {
                margin-bottom: 10px;
            }
            .btn {
                &.btn-more {
                    margin-top: 10px;
                }
            }
        }
    }

    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 auto;
        @media only screen and (max-width : $responsive-size-stand-mobile) {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }
    }
    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    p {
        margin: 0;
    }
    .btn-apply {
        //margin: 18px auto 0;
        justify-content: center;
        width: 100%;
    }

}

